/* Define CSS Variables */
:root {
    --primary-blue: #57aff1;
    --background-blue: #ffffff;
    --text-white: rgb(255, 255, 255);
    --step-0: #ffd68a;
    --step-1: #F87171;
    --step-2: #616fea;
    --step-3:#ff8dca;
    --step-4: #ff8f9a;
    --step-5: #fca32f;
    --step-6: #bbf7af;
    --text-dark: rgb(14, 2, 51); 
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */

  section {
    min-height: 95vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-content {
    display: flex;
    flex-direction: column; 
  }
  

  #step0 {
    background-image: url('../assets/gradient0.jpg');
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    min-height: 97vh;
    padding: 4rem 2rem;
    color: var(--text-dark);
    background-color: var(--step-0);
  }



  .section-content {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
  }

  .text-half {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }


  #step1 {
    background-color: rgb(255, 216, 158);
  }
  
  .left-image1 {
    flex: 1;
    background-image: url('../assets/image1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh; 
  }
  
#step2 {
    background-color: var(--step-2);
}

.right-image2 {
    flex: 1;
    background-image: url('../assets/image2.jpeg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh; 
  }

#step3 {
    background-color: var(--step-3);
}

.left-image3 {
    flex: 1;
    background-image: url('../assets/image3.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh; 
  }

#step4 {
    background-color: var(--step-4);
}

.right-image4 {
    flex: 1;
    background-image: url('../assets/image4.jpeg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh; 
  }


#step5 {
    background-color: var(--step-5);
}

.left-image5 {
    flex: 1;
    background-image: url('../assets/image5.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh; 
  }

  .right-image6 {
    flex: 1;
    background-image: url('../assets/image6.jpg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh; 
  }


#step6 {
    background-color: var(--step-6);
}


main {
    flex: 1;
}

/* Headings */
h1 {
    font-family: 'SF New Republic', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'SF New Republic', sans-serif;
    font-size: 2em;
}

.title {
    padding: 2em;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.my-history {
    font-size: 20px;
    text-decoration: none;
}

.subtext {
    font-size: 14px;
    font-style: italic;
}

/* Dropdowns */
.options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.dropdown {
    text-align: center;
    font-size: 20px;
}

.dropdown label {
    display: block;
    margin-bottom: 5px;
}

select {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    appearance: none;
    text-align: center;
}



/* Buttons */

#effort {
    background-color: #f4c2c2; 
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    padding: 15px 25px;

    font-weight: bold;
    font-size: 18px;

}

#time {
    background-color: #f4c2c2; 
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 25px;

    font-weight: bold;
    font-size: 18px;
}

#type {
    background-color: #f4c2c2; 
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 25px;

    font-weight: bold;
    font-size: 18px;
}


.generate-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: var(--text-white);
    border: none;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 8px;
}

.random-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: var(--text-white);
    border: none;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 8px;
}

.anchor-scroll-button  {
    display: inline-block;
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 4px; 
    font-size: 14px;
    font-weight: 500;
  }
  

.anchor-group {
    flex-direction: column;     
    align-items: center;      
    gap: 1.5rem;               
    padding-bottom: 3rem;     
  }

.continue-button {
background-color: #f29deb;
}

.continue-button:hover {
    background-color: #9e0a83;
    color: white;
    }

.back-button {
background-color: #57aff1;
}

.back-button:hover {
    background-color: #103ed5;
    color: white;
    }

/* Output List */
.output li {
    list-style-type: none;
    margin: 1em 0;
}

/* Footer that stays at bottom */
footer {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-blue);
    text-align: center;
    margin-top: auto;
}


@media screen and (min-width: 800px) {
 
    #step0 {
        background-repeat: repeat;
        background-size: auto; 
        background-position: left;
    }




  .left-image1 {
    flex: 1;
    background-image: url('../assets/image1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh; 
  }

  .right-image6 {
    flex: 1;
    background-image: url('../assets/image6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh; 
  }
  
  .left-image3 {
    flex: 1;
    background-image: url('../assets/image3.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 95vh;
  }

  .left-image5 {
    flex: 1;
    background-image: url('../assets/image5.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 95vh;
  }

  .right-image2 {
    flex: 1;
    background-image: url('../assets/image2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh; 
  }

  .right-image4 {
    flex: 1;
    background-image: url('../assets/image4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh; 
  }


  
  .text-half {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .section-content {
      flex-direction: row; 
        display: flex;
        flex-direction: row;
        height: 95%;
        width: 100%;
      }
  
 
    .text-on-left {
      flex-direction: row-reverse;
    }
  
    .anchor-group  {
        display: flex;
        flex-direction: row;
        gap: 8em;
        justify-content: center;
        margin-top: auto;
        padding-bottom: 6rem; 
    
    }

}
