/* Define CSS Variables */
:root {
    --primary-blue: #57aff1;
    --background-blue: #ffffff;
    --text-white: rgb(213, 146, 225);
    --step-0: #D8F5F7;
    --step-1: #F87171;
    --step-2: #3C4AC7;
    --step-3:#E4A6F6;
    --step-4: #A9E2AD;
    --step-5: #FFCB8E;
    --step-6: #FF9AA2;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-blue);
    font-family: Arial, sans-serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */

  section {
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #step0 {
    background-color: var(--step-0);
}

#step1 {
    background-color: var(--step-1);
}

#step2 {
    background-color: var(--step-2);
}

#step3 {
    background-color: var(--step-3);
}

#step4 {
    background-color: var(--step-4);
}

#step5 {
    background-color: var(--step-5);
}

#step6 {
    background-color: var(--step-6);
}


main {
    flex: 1;
}

/* Headings */
h1 {
    font-family: 'SF New Republic', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'SF New Republic', sans-serif;
    font-size: 2em;
}

.title {
    padding: 2em;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.my-history {
    font-size: 20px;
    text-decoration: none;
}

.subtext {
    font-size: 14px;
    font-style: italic;
}

/* Dropdowns */
.options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.dropdown {
    text-align: center;
    font-size: 20px;
}

.dropdown label {
    display: block;
    margin-bottom: 5px;
}

select {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid var(--primary-blue);
    background-color: var(--primary-blue);
    cursor: pointer;
    appearance: none;
    text-align: center;
}



/* Buttons */
.generate-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: var(--text-white);
    border: none;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 8px;
}

.random-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: var(--primary-blue);
    border: none;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 8px;
}


/* Output List */
.output li {
    list-style-type: none;
    margin: 1em 0;
}

/* Footer that stays at bottom */
footer {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-blue);
    text-align: center;
    margin-top: auto;
}
